:root {
    --blue: #271366;
    --green: #13663C;
    --yellow: #BAB528;
    --white: #E8E8E8;
    --rounded-border: 8px;
    --box-shadow-style: 5px 5px 5px 5px lightblue;
}

button {
    background-color: var(--blue);
    color: var(--white);
    border-radius: var(--rounded-border);
    padding: 0.5rem;
    margin: 1rem;
}

button:hover {
    background-color: var(--white);
    color: var(--blue);
}

form {
    display: flex;
    flex-direction: column;

    * {
        font-family: "Be Vietnam Pro";
        font-size: 16px;
    }
}

input {
    height: 1.75rem;
    margin-top: 5px;
    padding: 0.5rem;
    background-color: var(--white);
    border-radius: var(--rounded-border);
    border-style: none;
}

