.LoginPage {
    display: flex;

    width: 100%;
    height: 100vh;

    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
}

.LoginPage .logo {
    width: 40%;
    height: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.LoginForm {
    width: 40%;
    height: 50%;
}

@media(max-width: 1080px) {
    .LoginPage {
        flex-direction: column;
    }

    .logo {
        height: 30%;
        width: 60%;
    }

    .LoginForm {
        height: 50%;
        width: 60%;
        min-width: 350px;
    }
}